<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postres - Ambar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style>
    .hero-section {
      height: 500px;
      background-image: url('https://i.pinimg.com/1200x/2b/b8/a1/2bb8a179ca78c4848a65dcccc0c51b1c.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }

    .hero-section::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .hero-section .container {
      position: relative;
      z-index: 2;
    }
  </style>
</head>

<body class="cuerpo">
  {% include "_navbar.html" %}

  <section class="hero-section d-flex align-items-center text-center text-white">
    <div class="container">
      <h1 class="display-4 fw-bold">Nuestro menu</h1>
    </div>
  </section>

  <section class="cafe py-5">
    <div class="container">
      {% include "_menu_tabs.html" %}

      <div class="text-center text-white m-5">
        <h3 class="fw-bold">Postres</h3>
      </div>

      <div class="row g-4">
        <div class="col-md-4">
          <div class="card shadow-sm h-100">
            <img src="https://i.pinimg.com/1200x/bd/90/3a/bd903a8a9e6e0fcf91e595fcde9d4721.jpg"
              class="card-img-top" alt="flan" height="225">
            <div class="card-body text-center">
              <p class="card-text">Flan napolitano</p>
              <button class="btn btn-gris-degradado">Agregar</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card shadow-sm h-100">
            <img src="https://i.pinimg.com/1200x/5e/10/38/5e10383b6d28536bd27db895e693efdc.jpg"
              class="card-img-top" alt="pastel de chocolate" height="225">
            <div class="card-body text-center">
              <p class="card-text">pastel de chocolate</p>
              <button class="btn btn-gris-degradado">Agregar</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card shadow-sm h-100">
            <img src="https://i.pinimg.com/1200x/7c/67/88/7c67881ea49c7cd37744a62486639141.jpg"
              class="card-img-top" alt="tiramusu" height="225">
            <div class="card-body text-center">
              <p class="card-text">tiramusi</p>
              <button class="btn btn-gris-degradado">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="text-center text-white m-5"><h3></h3></div>
    <div class="row g-4">

      <div class="col-md-4">
        <div class="card shadow-sm h-100">

          <img 
            src="https://i.pinimg.com/1200x/a1/a7/f8/a1a7f815c6d9a77a2f52c572b4451b18.jpg" 
            class="card-img-top" 
            alt="churros"
            height="225"
          >
          <div class="card-body text-center">
            <p class="card-text">
              churros
            </p>
            <button class="btn btn-gris-degradado">
              Agregar
            </button>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow-sm h-100">

          <img 
            src="https://i.pinimg.com/736x/7c/32/ff/7c32ff72bbb305bad73182f67f91822e.jpg" 
            class="card-img-top" 
            alt="crepas"
            height="225"
          >

          <div class="card-body text-center">

            <p class="card-text">
              crepas
            </p>

            <button class="btn btn-gris-degradado">
              Agregar
            </button>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow-sm h-100">

          <img 
            src="https://i.pinimg.com/736x/8b/c3/7b/8bc37b19756a6944d155bbb29d4d2c9d.jpg" 
            class="card-img-top" 
            alt="macarons"
            height="225"
          >

          <divs class="card-body text-center">

            <p class="card-text">
               macarons
            </p>

            <button class="btn btn-gris-degradado">
              Agregar
            </button>

          </divs>
        </div>
      </div>
    </div>
  </div>
</div>

  </section>

  {% include "_footer.html" %}
</body>

</html>
